<section class="section section-md bg-default novi-background bg-cover">
        <div class="container">
          <div class="row row-50 row-fix">
            <div class="col-md-8">
              <div class="row row-20 justify-content-center align-items-center">
                <div class="col-5 wow fadeInUp">
                  <div class="box-numbered">
                    <div class="box-numbered-inner"><img src="https://dekalb.libnet.info/images/events/dekalb/Create.jpg" alt="" width="188" height="209"/><span class="number">01</span>
                    </div>
                  </div>
                </div>
                <div class="col-5 wow fadeInUp" data-wow-delay="0.2s">
                  <div class="box-numbered">
                    <div class="box-numbered-inner"><img src="https://i.imgur.com/ie3ahMd.png" alt="" width="230" height="201"/><span class="number">03</span>
                    </div>
                  </div>
                </div>
                <div class="col-5 wow fadeInUp" data-wow-delay="0.2s">
                  <div class="box-numbered">
                    <div class="box-numbered-inner"><img src="https://i.imgur.com/qxumD59.png" alt="" width="152" height="177"/><span class="number">02</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 wow fadeInRight">
              <h3>What’s included</h3>
              <p>We provide an easy way to save and retrieve bootstrap components. All component informations is included for your convenience.</p>
              <ol class="list-ordered list-ordered-hover">
                <li><a href="#">Save Component</a></li>
                <li><a href="#">Get Unique Component</a></li>
                <li><a href="#">Get All Components</a></li>
              </ol>
            </div>
          </div>
        </div>
      </section>