<section class="section section-md novi-background bg-cover context-dark" id="about" style="background-image: url(images/bg-image.jpg)">
        <div class="container">
          <div class="row row-30 justify-content-center justify-content-lg-between">
            <div class="col-md-10 col-lg-5 wow fadeInLeft">
              <h3>Different components for various purposes</h3>
              <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-1">
                <!-- Nav tabs-->
                <ul class="nav nav-tabs">
                  <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-1-1" data-toggle="tab">Standard</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2" data-toggle="tab">Custom</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-3" data-toggle="tab">Exstension</a></li>
                </ul>
                <!-- Tab panes-->
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="tabs-1-1">
                    <p>Standard components are pulled directly from <a class="text-white" href="getbootstrap.com">getbootstrap</a>.</p>
                    <p>Get started with Bootstrap, the world’s most popular framework for building responsive, mobile-first sites, with BootstrapCDN and a template starter page.</p>
                  </div>
                  <div class="tab-pane fade" id="tabs-1-2">
                    <p>Design your own bootstrap components and save them <a href="#new" class="text-white">here</a> </p>
                    <p>Bootstrap requires the use of the HTML5 doctype. Without it, you’ll see some funky incomplete styling, but including it shouldn’t cause any considerable hiccups.</p>
                  </div>
                  <div class="tab-pane fade" id="tabs-1-3">
                    <p>Comping soon!</p>
                    <p>This features allows for custom css and javascript.</p>
                  </div>
                </div>
              </div>
              <div class="box-bordered">
                <div class="unit unit-spacing-sm">
                  <div class="unit-left">
                    <div class="icon novi-icon icon-md icon-secondary mdi mdi-download"></div>
                  </div>
                  <div class="unit-body">
                    <div class="exeption"><a href="#">Get components</a></div>
                  </div>
                </div>
                <div class="unit unit-spacing-sm">
                  <div class="unit-left">
                    <div class="icon novi-icon icon-md icon-secondary mdi mdi-crop"></div>
                  </div>
                  <div class="unit-body">
                    <div class="exeption"><a href="https://anbellouzi.github.io/web.io/builder.html">Create a component</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-10 col-lg-6 wow fadeInRight">
              <!-- Owl Carousel-->
              <div class="owl-carousel owl-custom-nav" data-items="1" data-dots="false" data-nav="true" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false" data-autoplay="true">
                <div class="box-shadow">
                  <div class="tag">Standard</div><img class="block-shadow" src="https://bootstrapious.com/ck_resources/img/image(6).png" alt="" width="547" height="342"/>
                </div>
                <div class="box-shadow">
                  <div class="tag">Custom</div><img class="block-shadow" src="https://bootstrapious.com/ck_resources/img/image(9).png" alt="" width="547" height="342"/>
                </div>
                <div class="box-shadow">
                  <div class="tag">Exstension</div><img class="block-shadow" src="https://bootstrapious.com/ck_resources/img/image(15).png" alt="" width="547" height="342"/>
                </div>
              </div>
              <div class="table-custom-responsive">
                <table class="table-custom">
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>Can Change</th>
                      <th>Available</th>
                      <th>Price</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Standard</td>
                      <td>No</td>
                      <td>Yes</td>
                      <td>Free</td>
                      <td>
                        <button class="button button-sm button-primary-outline" type="button" data-toggle="modal" data-target="#myModal">Select</button>
                      </td>
                    </tr>
                    <tr>
                      <td>Custom</td>
                      <td>Yes</td>
                      <td>Yes</td>
                      <td>Free</td>
                      <td>
                        <button class="button button-sm button-primary-outline" type="button" data-toggle="modal" data-target="#myModal">Select</button>
                      </td>
                    </tr>
                    <tr>
                      <td>Extension</td>
                      <td>Yes</td>
                      <td>Yes</td>
                      <td>Paid</td>
                      <td>
                        <button class="button button-sm button-primary-outline" type="button" data-toggle="modal" data-target="#myModal">Select</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>