<footer class="section footer-classic context-dark" style="background-image: url(images/bg-image.jpg)">
  <div class="container">
    <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Outer Side</span><span>.&nbsp;</span><span>All Rights Reserved</span><span>.</span><span> Design&nbsp;by&nbsp;<a href="https://zemez.io/">Zemez</a></span></p>
  </div>
</footer>