      <section class="section section-md novi-background bg-cover context-dark" id="portfolio" style="background-image: url(images/bg-image.jpg)">
        <div class="container text-center">
          <h3>Our products</h3>
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-carousel-custom" data-items="1" data-md-items="3" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="0" data-mouse-drag="false" data-center="true" data-smartspeed="500" data-autoplay="true">
            <div class="item">
              <div class="thumbnail-simple">
                <div class="thumbnail-inner"><img src="images/carousel.png" alt="" width="276" height="301"/><a class="button button-primary" href="#">Select</a>
                </div>
                <p class="exeption">Bootstrap Image Carousel</p>
              </div>
            </div>
            <div class="item">
              <div class="thumbnail-simple">
                <div class="thumbnail-inner"><img src="images/jumbo.png" alt="" width="276" height="301"/><a class="button button-primary" href="#">Select</a>
                </div>
                <p class="exeption">Bootstrap Jumbotron</p>
              </div>
            </div>
            <div class="item">
              <div class="thumbnail-simple">
                <div class="thumbnail-inner"><img src="images/card.png" alt="" width="276" height="301"/><a class="button button-primary" href="#">Select</a>
                </div>
                <p class="exeption">Bootstrap Card</p>
              </div>
            </div>
            <div class="item">
              <div class="thumbnail-simple">
                <div class="thumbnail-inner"><img src="images/modal.png" alt="" width="276" height="301"/><a class="button button-primary" href="#">Select</a>
                </div>
                <p class="exeption">Bootstrap Modal</p>
              </div>
            </div>
            <div class="item">
              <div class="thumbnail-simple">
                <div class="thumbnail-inner"><img src="images/progress.png" alt="" width="276" height="301"/><a class="button button-primary" href="#">Select</a>
                </div>
                <p class="exeption">Bootstrap Progress</p>
              </div>
            </div>
          </div>
        </div>
      </section>