      <section class="section section-md bg-gray-100 novi-background bg-cover text-center">
        <div class="container">
          <h3>How to use Bootstrap API</h3>
          <ul class="list-custom-wrap">
            <li class="wow fadeIn">
              <div class="list-inner">
                <div class="index-counter"></div>
                <div class="list-content">Choose a name</div>
              </div>
            </li>
            <li class="wow fadeIn" data-wow-delay="0.2s">
              <div class="list-inner">
                <div class="index-counter"></div>
                <div class="list-content">Create html code</div>
              </div>
            </li>
            <li class="wow fadeIn" data-wow-delay="0.4s">
              <div class="list-inner">
                <div class="index-counter"></div>
                <div class="list-content">Save to database</div>
              </div>
            </li>
            <li class="wow fadeIn" data-wow-delay="0.6s">
              <div class="list-inner">
                <div class="index-counter"></div>
                <div class="list-content">Use anywhere</div>
              </div>
            </li>
          </ul>
        </div>
      </section>