<section class="section intro-section section-md novi-background bg-cover context-dark" id="home" style="background-image: url(images/bg-image.jpg)">
        <div class="container container-custom-width text-center text-md-left">
          <div class="row row-30">
            <div class="col-xl-5 d-none d-xl-block"><img src="images/home-intro-1-658x544.png" alt="" width="658" height="544"/>
            </div>
            <div class="col-md-6 col-xl-3">
              <div class="box-wrap-1">
                <h1>Bootstrap Element API</h1><a class="button button-primary" href="#">Create Element</a>
              </div>
              <blockquote class="quote">
                <div class="unit">
                  <div class="unit-left">
                    <div class="quote-icon icon mdi mdi-format-quote"></div>
                  </div>
                  <div class="unit-body">
                    <p>
                      <q>We will help you keep all your boostrap components saved! Use them anywhere and anytime using our Bootstrap API.</q>
                    </p>
                  </div>
                </div>
              </blockquote>
            </div>
            <div class="col-md-6 col-xl-4">
              <div class="inset-wrap">
                <div class="text-large"><span>Boot- strap API </span><img src="images/pattern-1-89x140.png" alt="" width="89" height="140"/>
                </div>
                <ul class="list-inline list-inline-md">
                  <li><a class="icon novi-icon icon-sm icon-border-lg fa fa-globe" href="https://anbellouzi.github.io/web.io/"></a></li>
                  <li><a class="icon novi-icon icon-sm icon-border-lg fa fa-edit" href="https://anbellouzi.github.io/web.io/builder.html"></a></li>
                  <li><a class="icon novi-icon icon-sm icon-border-lg fa fa-github" href="https://github.com/anbellouzi/Bootstrap-APi"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="bg-element novi-background"></div>
        </div>
      </section>