<div class="rd-navbar-wrap rd-navbar-absolute">
  <nav class="rd-navbar rd-navbar-transparent" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="10px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
    <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
    <div class="rd-navbar-main-outer">
      <div class="rd-navbar-main">
        <!-- RD Navbar Panel-->
        <div class="rd-navbar-panel">
          <!-- RD Navbar Toggle-->
          <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
          <!-- RD Navbar Brand-->
          <div class="rd-navbar-brand">
            <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-252x88.png" alt="" width="126" height="44"/><img class="brand-logo-light" src="images/logo-inverse-252x88.png" alt="" width="126" height="44"/></a>
          </div>
        </div>
        <div class="rd-navbar-nav-wrap">
          <!-- RD Navbar Nav-->
          <ul class="rd-navbar-nav">
            <li class="rd-nav-item active"><a class="rd-nav-link" href="#home">Home</a>
            </li>
            <li class="rd-nav-item"><a class="rd-nav-link" href="#about">About</a>
            </li>
            <li class="rd-nav-item"><a class="rd-nav-link" href="#portfolio">Components</a>
            </li>
            <li class="rd-nav-item"><a class="rd-nav-link" href="#new">Create</a>
            </li>
          </ul>
        </div>
        <div class="rd-navbar-aside-right rd-navbar-collapse">
          <ul class="list-inline rd-list-info">
            {{!-- <li><a href="mailto:#">info@demolink.org</a></li>
            <li><a href="tel:#">1-800-901-234</a></li> --}}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>