<section class="section section-md bg-default novi-background bg-cover" id="new">
        <div class="container">
          <div class="row row-40 justify-content-between">
            <div class="col-md-6 wow fadeInLeft">
              <form class="rd-mailform text-left" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="row row-18 row-fix">
                  <div class="col-xl-6">
                    <div class="form-wrap">
                      <label class="form-label" for="quest-name">Name</label>
                      <input class="form-input" id="quest-name" type="text" name="name" data-constraints="@Required">
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="form-wrap">
                      <label class="form-label" for="quest-phone">Phone</label>
                      <input class="form-input" id="quest-phone" type="text" name="phone" data-constraints="@Required @PhoneNumber">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-wrap">
                      <label class="form-label" for="quest-message">Comment</label>
                      <textarea class="form-input" id="quest-message" name="message" data-constraints="@Required"></textarea>
                    </div>
                  </div>
                </div>
                <div class="form-button group-sm text-center text-lg-left">
                  <button class="button button-primary-outline" type="submit">Send request</button>
                </div>
              </form>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-4 wow fadeInRight">
              <h3>We will answer all <span class="text-light">your</span> questions</h3>
              <ul class="list-marked">
                <li>We are always ready to design even the most complex photo zones for your event.</li>
                <li>If you need to rent a specific photo zone, feel free to contact our managers.</li>
                <li>Our photo zones are available throughout the US in a wide variety of colors and prices.</li>
              </ul>
            </div>
          </div>
        </div>
      </section>