<section class="section section-md bg-gray-100 novi-background bg-cover">
        <div class="container">
          <div class="row row-50 row-fix justify-content-center">
            <div class="col-lg-6 wow fadeInLeft">
              <h3>Why people Choose our <span class="text-light">photo zones</span></h3>
              <p>Our photo zones are valued for their quality, colorful design, quick installation, and affordable prices.</p>
              <p>With our products, you can create amazing backgrounds developed by industry professionals. Our press-walls, photo zones, and stands work just the way they should.</p>
              <div class="divider divider-1"></div>
              <div class="row row-30 row-md-40">
                <div class="col-md-6">
                  <div class="box-icon">
                    <div class="unit">
                      <div class="unit-left">
                        <div class="icon mdi mdi-cube linearicons-cube"></div>
                      </div>
                      <div class="unit-body">
                        <div class="title">Compact</div>
                      </div>
                    </div>
                    <p>All our products are compact and highly portable.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="box-icon">
                    <div class="unit">
                      <div class="unit-left">
                        <div class="icon mdi mdi-cube linearicons-link2"></div>
                      </div>
                      <div class="unit-body">
                        <div class="title">Durable</div>
                      </div>
                    </div>
                    <p>Our solutions are made to be used numerous times.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="box-icon">
                    <div class="unit">
                      <div class="unit-left">
                        <div class="icon mdi mdi-cube linearicons-screwdriver"></div>
                      </div>
                      <div class="unit-body">
                        <div class="title">Easy to Install</div>
                      </div>
                    </div>
                    <p>You can easily  install our photo zones in a few minutes.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="box-icon">
                    <div class="unit">
                      <div class="unit-left">
                        <div class="icon mdi mdi-cube linearicons-heart"></div>
                      </div>
                      <div class="unit-body">
                        <div class="title">Bright</div>
                      </div>
                    </div>
                    <p>Our products come in a variety of bright colors and designs.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8 col-lg-6 wow fadeInRight">
              <div class="video-block"><img src="images/home-7-660x731.png" alt="" width="660" height="731"/><a class="icon mdi mdi-play" href="https://www.youtube.com/embed/KFVUxSynSXc" data-lightgallery="item"></a>
              </div>
            </div>
          </div>
        </div>
      </section>